<div class="container" id="Inicio">
    <div class="row">
        <div id="presentacion" class="col-xs-12 col-sm-8 col-md-12 col-lg-6 text-sm text-lg">
            <h1 class="principio" id="presentacion">Hi,</h1>
            <p class="principio"id="presentacion">I'm Romina Ascurra</p>
            <p class="principio"id="presentacion">Web Developer Junior</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <img src="../../../assets/programacion.png">
        </div>
    </div>
</div>
