img{
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: right;
  align-items: right;
  max-width: 512px;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 10%;
}
#presentacion {
  text-align: left;
}
#presentacion, .col{
  height: 100%;
  font-size: 400%;
}
@media (max-width: 1000px) {
  .text-lg {
    font-size: 10px !important;
    margin-left: 20%;
  }
  img{
    max-width: 190px;
    margin-left: 20%;
  }
}
@media (min-width: 1000px) {
  .text-lg {
    font-size: 20px !important;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
