img{
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: center;
  align-items: center;
  width: 1000%;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 10%;
}
#presentacion {
  text-align: left;
  margin-left: 5%;
}
#presentacion, .col{
  height: 100%;
  font-size: 200%;
}
.text-sm {
  font-size: 20px !important;
}
@media (min-width: 992px) {
  .text-lg {
    font-size: 200% !important;
  }
}