.row{
  padding: 70px;
}
h1{
  text-align: center;
  padding: 50px;
  font-size: 30px;
}
p{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: large;
}
#habilidades{
  margin: auto;
  padding: auto;
}
.linea{
  border-top: 3px solid purple;
  height: 2px;
  max-width: 300px;
  padding: 0;
  margin: 50px auto 0 auto;
}
span{
  color: rgb(151, 19, 151);
}
.progress-bar{
  background-color: purple;
}
.progress{
  background-color: #ea80fc;
  height: 25px;
}