<div class="row" id="HabilidadesBlandas">
  <div class="linea"></div>
  <h1><span>Soft Skills |</span> Habilidades blandas</h1>
  <div class="col-lg-8" id="habilidades">
    <p>Trabajo en Equipo</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="bar"></div>
    </div>
    <p>Proactivo</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Creativo</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Responsable</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Comunicación efectiva</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p>Escucha activa</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
