.row{
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
}
h1{
  text-align: center;
  padding: 50px;
  font-size: 30px;
}
.linea{
  border-top: 3px solid purple;
  height: 2px;
  max-width: 300px;
  padding: 0;
  margin: 50px auto 0 auto;
}
.lineaAbajo{
  border-top: 3px solid purple;
  height: 2px;
  width: 100%;
  padding: 10px;
  margin: 50px auto 0 auto;
}
@media (min-width: 576px){
  #img{
    width: 30%;
    left: 35%;
    top: 300px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px){
  #img{
    width: 20%;
    left: 35%;
    top: 300px;
    padding-bottom: 50px;
  }
}
span{
  color: rgb(151, 19, 151);
}
