<div class="row" id="Contacto">
  <div class="linea"></div>
  <h1><span>Contact |</span> Contacto</h1>
  <div class="text-center col-xs-10 col-sm-2 col-md-2 col-lg-2">
    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKkHTgbNGTSLMZTHxqpxqnbSzNsCPgCmHHkxcwmMCsfVZPmddPdJqwxmpsDLTzBHVTsgHXs" target="_blank">
    <img src="../../../assets/mail.png" class="img-fluid" id="img"></a>
  </div>
  <div class="text-center col-xs-10 col-sm-2 col-md-2 col-lg-2">
    <a href="https://www.linkedin.com/in/romina-ascurra-079399232/" target="_blank"><img src="../../../assets/linkedin.png" class="img-fluid"  id="img"></a>
  </div>
  <div class="text-center col-xs-10 col-sm-2 col-md-2 col-lg-2">
      <a href="https://github.com/roAscurra" target="_blank"><img src="../../../assets/github.png" class="img-fluid"  id="img"></a>
  </div>
  <div class="text-center col-xs-10 col-sm-2 col-md-2 col-lg-2">
    <a href=" https://wa.me/+5492634622397" target="_blank"><img src="../../../assets/telefono.png" class="img-fluid" id="img"></a>
  </div>
</div>
<div class="lineaAbajo"></div>
