<div class="row" id="SobreMi">
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
      <img src="../../assets/ss.jpg" class="img-fluid" id="img_perfil">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1><span class="title">About me |</span> Sobre mi</h1>
        <p id="info">Mi nombre es Romina, tengo 19 años y soy frontend developer.
          Soy de Mendoza, Argentina. Me apasiona mucho el mundo de la programación,
           es por ello que dicidí estudiar la Tecnicatura Universitaria en Programación
           de la UTN, la cual comencé en el año 2022. Además, he realizado cursos para
           capacitarme en ciertas tecnologías, como el curso de Codo a Codo en el que
           enseñaban Java; Alura en el que adquirí mas conocimientos sobre HTML;
           CodigoFacilito para aprender Angular; entre otros en plataformas gratuitas.
            Soy una persona a la que le gusta aprender cosas nuevas para enriquecer sus
            conocimientos. Actualmente, me gustaría poder tener mi primer experiencia
            laboral en el mundo IT, tener desafíos y poder brindar mi potencial.</p>
      </span>
    </div>
</div>





