<div class="row" id="SobreMi">
    <div  class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
      <img src="../../assets/ss.jpg" class="img-fluid" id="img_perfil">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1><span class="title">About me |</span> Sobre mi</h1>
        <p id="info">Mi nombre es Romina Ascurra, soy de Mendoza, Argentina. Soy una persona a la que le apasiona el mundo de la Programación y tecnología.
          Me gusta aprender cosas nuevas, adquirir y enriquecer conocimientos, es por ello 
          que he realizado diferentes cursos (los podrás encontrar especificados en mi cv), para capacitarme en tecnologías específicas.
          Dicidí formalizar mis estudios comenzando mi formación académica en la carrera de Tecnicatura Universitaria en Programación
          de la UTN, la cual comencé en el año 2022. 
          En el tiempo libre que tengo, desarrollo pequeños proyectos para poner en práctica mis habilidades. En la sección de "Proyectos" podrás verlos.
          </p>
      </span>
    </div>
</div>





