.row{
  padding: 100px;
  padding-bottom: 50px;
}
div{
  text-align: center;
}
#name{
  font-weight: bold;
  margin-top: 30%;
}

@media (min-width: 999px){
  #img_perfil{
    border-radius: 100%;
    box-shadow: 3px 3px 3px #f2f2f2;
    left: 2%;
    top: 300px;
  }
  #info{
    font-size: x-large;
  }
}

@media (max-width: 1000px){
  #img_perfil{
    border-radius: 100%;
    box-shadow: 3px 3px 3px #f2f2f2;
    left: 35%;
    top: 300px;
  }
  #info{
    font-size: medium;
  }
}
.title{
  color: #c71585;
}
h1{
  font-size: 30px;
}
