<div class="row" id="Tecnologías">
  <div class="linea"></div>
  <h1><span>Technologies |</span> Tecnologías</h1>
  <div class="col-lg-6 mx-auto text-center">
    <div class="row">
      <div class="col text-center">
        <img src="../../../assets/174854.png" class="img-fluid my-2">
      </div>
      <div class="col text-center">
        <img src="../../../assets/css.png" class="img-fluid my-2">
      </div>
      <div class="col text-center">
        <img src="../../../assets/js.png" class="img-fluid my-2">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../../../assets/angular.png" class="img-fluid my-2">
      </div>
      <div class="col text-center">
        <img src="../../../assets/c++.png" class="img-fluid my-2">
      </div>
      <div class="col text-center">
        <img src="../../../assets/java.png" class="img-fluid my-2">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="../../../assets/bootstrap.png" class="img-fluid my-2">
      </div>
      <div class="col text-center">
        <img src="../../../assets/mysql.png" class="img-fluid my-2">
      </div>
      <div class="col"></div> <!-- Columna vacía para alinear la última fila -->
    </div>
  </div>
</div>
