.row{
  background-color: 119, 136, 153;
  padding: 20px;
}
img{
  width: 50%;
}
h1{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}

@media (max-width: 575px){
  img{
    left: 35%;
    top: 300px;
    width: 30%;
  }
}

.linea{
  border-top: 3px solid #c71585;
  height: 2px;
  max-width: 300px;
  padding: 0;
  margin: 60px auto 0 auto;
}
span{
  color: #c71585;
}
