<div class="text-center col-lg-12 row" id="Proyectos">
  <div class="linea"></div>
  <h1><span>Projects |</span> Proyectos</h1>

  <div class="row">
    <div class="text-center col-md-12 col-lg-8 wider-div" id="box">
      <div class="card-body">
        <figure>
          <img src="../../../assets/tatet.png" class="card-img-top" id="img">
          <div class="capa d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
            <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
              <a href="https://roascurra.github.io/Ta-te-ti/" target="_blank">Ver Proyecto</a></h3>
          </div>
        </figure>
        <h5 class="card-title">Tres en Raya</h5>
        <p class="card-text">Juego de ta-te-ti para jugar en un navegador, entre dos personas</p>
        <br>
      </div>
    </div>

    <div class="text-center col-md-12 col-lg-8 wider-div" id="box">
      <figure>
        <img src="../../../assets/monitor.png" class="card-img-top" id="img">
        <div class="capa d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
          <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
            <a href="https://roascurra.github.io/Wiki/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Wiki</h5>
        <p class="card-text">Proyecto de universidad desarrollado para mostrar información sobre el monitor</p>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-md-12 col-lg-8 wider-div" id="box">
      <figure>
        <img src="../../../assets/portafolio.png" class="card-img-top" id="img">
        <div class="capa d-flex justify-content-center"> 
          <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
            <a href="https://rominaascurra.vercel.app/#/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Portafolio</h5>
        <p class="card-text">Portafolio personal, mostrando información personal y proyectos desarrollados</p>
        <br>
      </div>
    </div>
    <div class="text-center col-md-12 col-lg-6 wider-div" id="box">
      <figure>
        <img src="../../../assets/coleccionLibros.png" class="card-img-top" id="img">
        <div class="capa d-flex justify-content-center"> 
          <h3 class="d-flex justify-content-center align-items-center"> 
            <a href="https://roascurra.github.io/ColeccionDeLibros/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <div>
        <h5 class="card-body">Colección de libros</h5>
        <p class="card-text">Página web para guardar libros con su título, autor e número isbn</p>
        <br>
      </div>
    </div>
  </div>
</div>
