<div class="text-center col-lg-12 row" id="Proyectos">
  <div class="linea"></div>
  <h1><span>Projects |</span> Proyectos</h1>

  <div class="row">
    <div class="text-center col-md-12 col-lg-8 wider-div" id="box">
      <h5>Tres en Raya</h5>
      <figure>
        <img src="../../../assets/tatet.png" class="img-fluid" id="img">
        <div class="capa d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
          <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
            <a href="https://roascurra.github.io/Ta-te-ti/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <p>Juego de ta-te-ti para jugar en un navegador, entre dos personas</p>
      <a class="btn btn-dark" href="https://github.com/roAscurra/Ta-te-ti" target="_blank" role="button">Ver código</a>
    </div>

    <div class="text-center col-md-12 col-lg-8 wider-div" id="box">
      <h5>Wiki</h5>
      <figure>
        <img src="../../../assets/monitor.png" class="img-fluid" id="img">
        <div class="capa d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
          <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
            <a href="https://roascurra.github.io/Wiki/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <p>Proyecto de universidad desarrollado para mostrar información sobre el monitor</p>
      <a class="btn btn-dark" href="https://github.com/roAscurra/Wiki" target="_blank" role="button">Ver código</a>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-md-12 col-lg-8 wider-div" id="box">
      <h5>Portafolio</h5>
      <figure>
        <img src="../../../assets/portafolio.png" class="img-fluid" id="img">
        <div class="capa d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
          <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
            <a href="https://rominaascurra.vercel.app/#/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <p>Portafolio personal, mostrando información personal y proyectos desarrollados</p>
      <a class="btn btn-dark" href="https://github.com/roAscurra/PortafolioRominaAscurra" target="_blank" role="button">Ver código</a>
    </div>

    <!-- Add another set of divs for the second image in the second row -->
    <div class="text-center col-md-12 col-lg-6" id="box">
      <h5>Project Name</h5>
      <figure>
        <img src="path_to_your_second_image.png" class="img-fluid" id="img">
        <div class="capa d-flex justify-content-center"> <!-- Added d-flex and justify-content-center classes -->
          <h3 class="d-flex justify-content-center align-items-center"> <!-- Added d-flex, justify-content-center, and align-items-center classes -->
            <a href="https://your_project_url" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <a class="btn btn-dark" href="https://your_github_url" target="_blank" role="button">Ver código</a>
    </div>
  </div>
</div>
