<div class=" text-center col-lg-12 row" id="Proyectos">
  <div class="linea"></div>
  <h1><span>Projects |</span> Proyectos</h1>
    <div class="text-center col-sm-12 col-md-8 col-lg-6 square" id="box">
      <h5>Tres en Raya</h5>
        <figure>
          <img src="../../../assets/tatet.png" class="img-fluid">
          <div class="capa">
            <h3><a href="https://roascurra.github.io/Ta-te-ti/" target="_blank">Ver Proyecto</a></h3>
          </div>
        </figure>
        <a class="btn btn-dark" href="https://github.com/roAscurra/Ta-te-ti" target="_blank" role="button">Ver código</a>
    </div>
    <div class="text-center col-sm-12 col-md-8 col-lg-6" id="box">
      <h5>Wiki</h5>
      <figure>
        <img src="../../../assets/monitor.png" class="img-fluid">
        <div class="capa">
          <h3><a href="https://roascurra.github.io/Wiki/" target="_blank">Ver Proyecto</a></h3>
        </div>
      </figure>
      <a class="btn btn-dark" href="https://github.com/roAscurra/Wiki" target="_blank" role="button">Ver código</a>
    </div>
      <div class="text-center col-sm-12 col-md-8 col-lg-6" id="box">
        <h5>Portafolio</h5>
        <figure>
          <img src="../../../assets/portafolio.png" class="img-fluid">
          <div class="text-center capa">
            <h3><a href="https://rominaascurra.vercel.app/#/" target="_blank">Ver Proyecto</a></h3>
          </div>
        </figure>
        <a class="btn btn-dark" href="https://github.com/roAscurra/PortafolioRominaAscurra" target="_blank" role="button">Ver código</a>
    </div>
  </div>


