/* You can add global styles to this file, and also import other style files */
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 375px;
  height: 100%;
  display: block;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  background-color: black;
}
@import "../node_modules/bootstrap/css/bootstrap";

